Language: C
BasedOnStyle: LLVM

AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AllowShortFunctionsOnASingleLine: None

PointerAlignment: Right

AlignAfterOpenBracket: Align

BreakBeforeBraces: Linux

IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

AlwaysBreakAfterReturnType: None
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 80
